<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Halo Stat Calculator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Halo Stat Calculator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (Session["PlayerName"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Player")</li>
                        <li>@Html.ActionLink("Register", "PlayerRegister", "Player")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Update Profile", "PlayerUpdate", "Player")</li>
                        <li>@Html.ActionLink("LogOut", "LogOut", "Player")</li>
                    }
                    @if (Session["PlayerName"] != null && (int)Session["FKRoleID"] >= 2)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                More Options
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Team Registration", "TeamRegister", "Teams")</li>
                                <li>@Html.ActionLink("Team Update", "TeamUpdate", "Teams")</li>
                                <li>@Html.ActionLink("Add/Updating Stats", "StatsUpdate", "Stats")</li>


                                @if ((int)Session["FKRoleID"] == 3)
                                {
                                    <li>@Html.ActionLink("Admin Update", "AdminUpdate", "Player")</li>
                                }
                            </ul>
                        </li>                       
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Halo Stat App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
