@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME</h1>
    <p class="lead">Thanks for coming. This App is designed to generate updated Personal and Team KDA's after each game. We Hope You enjoy.</p>    
</div>

<div class="row">
    @if (Session["PlayerName"] == null)
    {
        <div class="col-md-4">
            <h2>Things are hidden!</h2>
            <p>
                You Currently Are Not Logged In. Please Log In To Have Access To The Hidden Aspects.
            </p>
            <p>@Html.ActionLink("Please Log In", "Login", "Player", null, new { @class = "btn btn-default" })</p>
        </div>
    }
    else
    {
    <div class="col-md-4">
        <h2>View Players</h2>
        <p>
            Here you can see a list of all Players.
        </p>
        <p>@Html.ActionLink("Players", "PlayerView", "Player", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4">
        <h2>View Teams</h2>
        <p>Here you will be able to view the List of Teams.</p>
        <p>@Html.ActionLink("Teams", "TeamView", "Teams", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4">
        <h2>Player LeaderBoard</h2>
        <p>Here is the Player Leaderboard based on higest KDAs.</p>
        <p>@Html.ActionLink("Player Stats", "StatsView", "Stats", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4">
        <h2>Team LeaderBoard</h2>
        <p>Here can view the Team Leaderboard based on the Highest Team KDAs.</p>
        <p>@Html.ActionLink("TeamsLeaderBoard", "ComingSoon", "ComingSoon", null, new { @class = "btn btn-default" })</p>
    </div>
    }
</div>